/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* background-color: black; */
}

body{
 padding: 0;
 margin: 0;
}


/* TEDxDAVV Inter FONT */
@font-face {
  font-family: "Inter";
  src: local("GoldmanBold"),
   url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: local("GoldmanBold"),
   url("./fonts/Inter-Light.ttf") format("truetype");
  font-weight: lighter;
}

.font-inter-bold{
  font-family: helvetica, Inter;
  font-weight: bold;
}

.font-inter-light{
  font-family: helvetica, Inter;
  font-weight: lighter;
}

@media screen and (max-width: 800px)  {
  body {
    font-size: 15px !important;
  }
}

.stroke{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
}

/* TYPEWRITER EFFECT */
/* GLOBAL STYLES */


/* DEMO-SPECIFIC STYLES */
.home .typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* HANDWRITING ANIMATION */
.logopath {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
}

.logopathtext1 {
  stroke-width: 3;
  animation: letter-animation 3s linear forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}
.logopathtext2 {
  stroke-width: 3;
  animation: letter-animation 1s linear forwards;
  animation-delay: 3s;
  animation-timing-function: ease-out;
}
.logopathtext3 {
  stroke-width: 3;
  animation: letter-animation 4s linear forwards;
  animation-delay: 3s;
  animation-timing-function: ease-in;
}

@keyframes letter-animation {
  0% {
      stroke-dashoffset: 2600;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

svg path{
  stroke: #EB0028 !important;
  stroke-width: 7px !important;
}

.insta path{
  stroke: #EB0028 !important;
  stroke-width: 7px !important;
}
i:hover{
  color: #EB0028 !important;
}
